.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

*, :before, :after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

* {
	font-size: 11pt;
	font-family: 'PT Sans', Arial, sans-serif;
}

input::-moz-focus-inner {
	border: 0;
}

body {
	background: url(pictures/background.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding: 0;
}

html {
	background-color: #8c99a4;
}

html, body {
	border: 0px;
	margin: 0px;
	padding: 0px;
}

#header {
	height: 55px;
	width: 100%;
	background: url(pictures/header.jpg);
	font-weight: 700;
	border-bottom: 2px solid #086A87;
	-moz-box-shadow: 0 2px 5px #464C52;
	-webkit-box-shadow: 0 2px 5px #464C52;
	box-shadow: 0 2px 5px #464C52;
	border: 0px;
	margin: 0px;
	padding: 0px;
}

#content {
	background-color: #fff;
	width: 990px;
	overflow: auto;
	box-shadow: 3px 0 15px -4px #464C52, -3px 0 8px -4px #464C52;
	margin: 0 auto;
	min-height: 900px;
}

table {
	border-collapse: collapse;
	color: #333;
	text-align: top;
}

table td, table th {
	border-left: 1px dotted #333;
	width: 15%;
	padding-left: 7px;
}

table tr td:first-child,
table tr th:first-child {
  border-left: 0;
}

table tr:nth-child(odd) td {
	background-color: #FFFFFF;
}

table tr:nth-child(even) td {
	background-color: #EEEEEE;
}

input[type=submit] {
	margin: 5px;
	padding: 5px 15px;
	background: #086A87;
	border: 0 none;
	cursor: pointer;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	color: white;
}

#welcome p{
	margin-left:auto;
	margin-right:auto;
	float:center;
	color: #086A87;
	
}

#view a {
	margin: 5px;
	padding: 5px 15px;
	background: #086A87;
	border: 0 none;
	cursor: pointer;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	color: white;
}

#view a:link, #view a:visited, #view a:hover {
	color: white;
	text-decoration: none;
}

nav ul {
	width: 960px;
	height: 40px;
	margin: 0 auto;
	padding: 0;
}

nav>ul>li {
	display: inline;
	height: 100%;
	float: left;
}

nav a {
	color: #fff;
	display: inline-block;
	width: 120px;
	text-align: center;
	text-decoration: none;
	line-height: 40px;
	text-shadow: 1px 1px 0 #086A87;
}

nav>ul>li>a {
	border-right: 0px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

nav li:last-child a {
	border-right: 0;
}

nav a:hover, nav a:active {
    background-color: #086A87;
}

nav a#pull {
	display: none;
}
